* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  h1 {
    font-family: Times New Roman, Helvetica, sans-serif;
    text-align: center;
    margin: 30px;
  }
  select, textarea {
    border: 5px solid #5f144c;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(255, 0, 179, 0.514) 0px 14px 28px, rgba(250, 26, 183, 0.559) 0px 10px 10px;
  }
  select::-webkit-scrollbar {
    display: none;
  }
  header {
      color: rgb(0, 0, 0, 1.0);
      box-shadow: rgba(255, 0, 0, 0.514) 0px 14px 28px, rgba(255, 0, 0, 0.22) 0px 10px 10px;
  }
  header bg-light{
    background-color: #0080ff;
  }
  .logo {
    float: left;
    padding: 18px 18px 18px 0;
  }
  .content {
    max-width: 960px;
    margin: 0 auto;
  }
  .wrapper:after {
    content: '';
    display: block;
    clear: both;
  }
  .left {
    float: left;
    padding: 20px 20px 20px 0;
  }
  .name {
    color: #945ef3;
    font-family:Times New Roman;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 32px;
  }
  
  .right {
    float: right;
    padding: 20px;
  }
  
  .list {
    margin-top: 40px;
  }
  
  .list li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
    font-family: Times New Roman;
    font-size: 18px;
  }
  
  .list li a:link {
    color: rgb(0,0,0, 1.0);
    text-decoration: none;
  }
  
  .list li a:visited {
    color: rgb(0,0,0, 1.0);
    text-decoration: none;
  }
  
  
  
  .list_title {
    list-style-type: none;
  }
  
  .block_title {
    font-family: Times New Roman, Helvetica, sans-serif;
    text-align: center;
  }
  
  .block {
    padding: 20px;
  }
  
  .references__item {
    margin-left: 20px;
    margin-bottom: 8px;
    list-style: none;
  }
  .references__item ol{
    list-style: none;
  }
  
  .references__item a {
    font-family: Times New Roman, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
  }
  
  .references__item p {
    font-family: Times New Roman, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .references__item a:link {
    text-decoration: none;
      color: rgb(0, 0, 0, 1.0);
  }
  
  .references__item a:visited {
    text-decoration: none;
      color: rgb(0, 0, 0, 1.0);
  }
  
  .table {
    border-collapse: collapse;
  }
  
  .table_header {
    text-align: center;
    background-color: rgba(255, 0, 255, 0.637);
  }
  
  .table_old {
    background-color: rgb(231,42,220, 1.0);
  }
  
  .table_even {
    background-color: rgb(251, 135, 244, 1.0);
  }
  
  .table_item {
    text-align: center;
    padding: 8px;
    font-family: Times New Roman, Helvetica, sans-serif;
  }
  
  .form_item {
    font-family: Times New Roman, Helvetica, sans-serif;
    font-size: 14px;
    height: 32px;
    border-radius: 32px;
    padding: 6px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  
  
  .agreement {
    font-family: Times New Roman, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .form_text {
    font-family: Times New Roman, Helvetica, sans-serif;
    padding: 6px;
  }
  
  .button {
    margin-top: 10px;
  }
  
  .footer {
    background: rgb(240,175,255, 1.0);
  }
  
  .footer__text {
    font-family: Times New Roman, Helvetica, sans-serif;
    color: rgb(0,0,0, 1.0);
    font-size: 15px;
    padding: 16px 430px;
  }
  .footer-bg
  {
    max-width: 960px;
    padding: 0;
    margin: 0;
    align-items: center;
    padding: 15px 15px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .list-inline {
    list-style-type: none;
    padding: 0;
  }
  
  .list-inline li {
    display: inline-block;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) { 
    .list-inline li {
        display: block; 
        margin-right: 0;
    }
  }
  /* Слайдер */
.slick-slider{
    min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
    position: relative;
    padding: 0px 60px;
}

@media (max-width:767px){
    .slider {
        padding: 0px 40px;
    }
}

.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
    opacity: 0.2;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #000000;
}

.slider__item {
    padding: 0px 15px;
}
.slider__item img{
    max-width: 100%;
}

/*popup*/

.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(130, 69, 69, 0.5);
    display: none;
    align-items: center;

    justify-content: center;
    z-index: 999;
}

.popup-content {
    align-items: center;
    background-color: #ff0000;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
    width: 100%;
    padding: 7px;
}

.form-group textarea {
    resize: vertical;
}

.checkbox-group {
    margin-top: 10px;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
}

.submit-button {
    margin-top: 10px;
}

.message {
    margin-top: 10px;
}

.success {
    color: green;
}

.error {
    color: rgb(0, 0, 0);
}