.header{
	max-width: 1000px;
	margin: 0;
	align-items: center;
	padding: 15px 15px;
	box-sizing: border-box;
	border-radius: 15px;
	background: rgb(255 95 95);
}
.logo{
	float: left;
}
.ull{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}
.ull li{
	display: inline-block;
	margin-left: 50px;
}
.fotter{
	margin: 0;
	align-items: center;
	padding: 15px 15px;
	box-sizing: border-box;
	text-align: center;
	border: 2px solid red;
	border-radius: 15px;
	background: rgb(0, 255, 0);
}
.one{
	background: #BE0FF3;
}
.two{
	background: #530FF3;
}
.three{
	background: #0FDCF3;
}